
@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) {

}


.sender-content{
  flex: 0.9;
}

.input-message{
  flex: 1;
}



.custom-scrollbar::-webkit-scrollbar{
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track{
  background-color: white;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: #b4b4b4;
  border-radius: 18px;
} 

.custom-scrollbar::-webkit-scrollbar-thumb:hover{
  background-color: #888;
} 


.chat-container {
  display: flex;
  height: 100vh;
  /* overflow-x: hidden; */
  overflow-y: hidden;
}

.chat-left{
  flex-grow: 1;
  height: 100vh;
}

.chat-right{
  flex-grow: 1;
  background-color: #999;
  /* max-width: 350px; */
}

.chat-body{
  flex-grow: 2;
}

.user-item{
  padding: 0.5rem;
  margin-bottom: 5px;
}

.user-item:hover{
  background-color: rgb(202, 197, 192, 0.2);
}

.list-users{
  height: 100%;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 5px;
}


.custom-button-1 .icon{
  font-size: 30px;
}

.MuiButton-root:focus {
  outline: none; /* Tắt viền focus */
}

.input-message:focus{
  outline: none;
}

.custom-button-1:hover {
  background-color: white;
}

.send-button .icon{
  font-size: 30px;
}

.send-button:hover{
  background-color: rgba(248, 224, 197, 0.541);
}